
.barResultTitle {
    font-size: 14px;
}

.jumbotron {
    padding-bottom: 0px;
    background-color: #e3e3e3;
}

#barResultContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
    font-size: 16px;

}
img.searchImageUrl {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.img-fluid {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.rounded {
     border-radius: 0rem;
}

.btn-lg2 {
    padding: 0.5rem 1rem;
    font-size: 25px;
    line-height: 1.5;
    border-radius: 10px;
}

body {
    padding-top: 0px;
    text-align: center;
}

/*@media (min-width: 992px) {
    body {x
        padding-top: 56px;
    }
}*/

#logo {
    width: 20%;
    height: 20%;
    padding-top: 30px;
    padding-bottom: 0px;
}

header.masthead {
    background-color: #14191f;
    /*background: url("file://C:/Users/Administrator/Downloads/shutterstock_661350928.jpg") no-repeat bottom center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.barspecs {
    font-size: 16px;
}


.searchresults {
    font-size: 25px;
    padding-bottom: 16px;
}

.bartitle {
    font: 500 normal 1.375em "Verdana", Arial, Verdana, sans-serif;
    font-size: 18px;
}

header.masthead > .overlay {
    text-align: center;
    background-color: #e3e3e3;
}

@media (min-width: 992px) {
    header.masthead > .overlay {
    }
}
