<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>main.Search for members</title>

    <script src="Vendor/jquery/jquery.min.js"></script>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="SearchValidation.js"></script>
</head>
<body>

<p> main.Search for and extistent ID</p>
<form action="searchresult" method="post">
    <div class="form-group">
        <input name="member" id="member" placeholder="Username"/>
        <button value="main.Search" id="searchmember">main.Search</button>
    </div>
</form>




</body>
</html>